<!-- Footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center">
				<h6>About <span class="text-primary">Deviatov Software</span> </h6>
				<p>
					Deviatov is a dedicated software solutions company that aims
					to provide exceptional services to its clients. We are
					committed to delivering innovative and customized solutions
					that meet your specific business needs.
				</p>
			</div>
			<div class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center">
				<div class="mb-4">
					<a href="#" class="text-decoration-none">
						<i class="fab fa-facebook fa-3x text-light mx-2"></i>
					</a>
					<a href="#" class="text-decoration-none">
						<i class="fab fa-twitter fa-3x text-light mx-2"></i>
					</a>
					<a href="#" class="text-decoration-none">
						<i class="fab fa-linkedin fa-3x text-light mx-2"></i>
					</a>
				</div>
			</div>
		</div>

	</div>
</footer>
