    <!-- Header -->
    <header class="header position-relative">
      <img
        src="../../../assets/images/vertical-decoration-left.svg"
        alt=""
        class="vertical-decoration position-absolute d-none d-md-block"
      />
      <div class="container">
        <div class="row">
          <div class="col-md-12 pt-5 text-center">
            <h1 class="xl-text mt-5">
              Software Solutions For
              <span class="text-primary fw-bold replace-me"
                >Small Businesses and Startups</span
              >
            </h1>
            <p class="lead">
              Boost your business with cutting-edge software solutions tailored
              to the needs of modern enterprises.
            </p>
            <a href="#" class="btn btn-primary text-white">Lear More</a>
          </div>
        </div>
      </div>
    </header>
