<!-- Projects -->
<section id="projects" class="projects my-6">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center">
				<h5><span class="badge bg-primary rounded-0 text-uppercase">
				Projects
				</span></h5>
				<h2 class="fw-bold">Project's We Are Proud Of</h2>
				<p>  We take pride in our successful projects and the value they bring to
				our clients. With our expertise and dedication, we have delivered
				exceptional results. Here are some highlights</p>
			</div>
		</div>

		<div class="d-block">
			<div class="card-columns">
				<div class="card bg-secondary p-2 m-2">
					<img src="../../../assets/images/farmx.jpg" alt="" class="card-img-top">
						<div class="card-body">
						<p>
							<strong><a href="https://farmxagri.com/" target="_blank">FarmX Zambia</a></strong> - FarmX is a highly configurable, modular ERP platform designed to enhance farming operations of all sizes, across all sectors. Creating efficiency through better planning and better visibility of resource allocation, ultimately giving you the ability to leverage your own data to improve performance year on year.
						</p>
						</div>
				</div>
				<div class="card bg-secondary p-2 m-2">
					<img src="../../../assets/images/ross.png" alt="" class="card-img-top">
						<div class="card-body">
						<p>
							<strong><a href="https://rossdepots.azurewebsites.net/" target="_blank">Ross Breeders</a></strong> -
							Ross Breeders Zambia is one of Zambia’s largest poultry product and animal feed providers. With a reputation for supplying quality parent and broiler day old chicks, broiler hatching eggs, stock feed and processed chicken.
						</p>
						</div>
				</div>
				<div class="card bg-secondary p-2 m-2">
					<img src="images/project-3.jpg" alt="" class="card-img-top">
						<div class="card-body">
						<p>
							<strong>Tombwe Processing Limited</strong> - Donec bibeum mollis liga sit amet
						pulvinar sed viverra noris
						</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
