<!-- Projects -->
<section id="projects" class="projects my-6">
	<div class="container">
		<div class="row mb-5">
		<div class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center">
			<h5><span class="badge bg-primary rounded-0 text-uppercase">
			Projects
			</span></h5>
			<h2 class="fw-bold">Project's We Are Proud Of</h2>
			<p>  We take pride in our successful projects and the value they bring to
			our clients. With our expertise and dedication, we have delivered
			exceptional results. Here are some highlights</p>
		</div>
		</div>
		<!-- Projects Row 1 -->
		<div class="row">
		<div class="col-md-4 mb-4">
			<div class="card bg-secondary">
			<a data-bs-toggle="modal" data-bs-target="#modal1">
				<img src="images/project-1.jpg" alt="" class="card-img-top">
				<div class="card-body">
				<p>
					<strong>Orkla Foods</strong> - Donec bibeum mollis liga sit amet
				pulvinar sed viverra noris
				</p>
				</div>
			</a>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card bg-secondary">
			<a data-bs-toggle="modal" data-bs-target="#modal2">
				<img src="images/project-2.jpg" alt="" class="card-img-top">
				<div class="card-body">
				<p>
					<strong>First Bank</strong> - Donec bibeum mollis liga sit amet
					pulvinar sed viverra noris
				</p>
				</div>
			</a>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card bg-secondary">
			<a data-bs-toggle="modal" data-bs-target="#modal3">
				<img src="images/project-3.jpg" alt="" class="card-img-top">
				<div class="card-body">
				<p>
					<strong>All Sweets</strong> - Donec bibeum mollis liga sit amet
				pulvinar sed viverra noris
				</p>
				</div>
			</a>
			</div>
		</div>
		</div>

		<!-- Projects Row 2 -->
		<div class="row">
		<div class="col-md-4 mb-4">
			<div class="card bg-secondary">
			<a data-bs-toggle="modal" data-bs-target="#modal4">
				<img src="images/project-4.jpg" alt="" class="card-img-top">
				<div class="card-body">
				<p>
					<strong>Fast Courier</strong> - Donec bibeum mollis liga sit
				amet pulvinar sed viverra noris
				</p>
				</div>
			</a>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card bg-secondary">
			<a data-bs-toggle="modal" data-bs-target="#modal5">
				<img src="images/project-5.jpg" alt="" class="card-img-top">
				<div class="card-body">
				<p>
					<strong>Lyra Market</strong> - Donec bibeum mollis liga sit amet
				pulvinar sed viverra noris
				</p>
				</div>
			</a>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card bg-secondary">
			<a data-bs-toggle="modal" data-bs-target="#modal6">
				<img src="images/project-6.jpg" alt="" class="card-img-top">
				<div class="card-body">
				<p>
					<strong>Monday Stores</strong> - Donec bibeum mollis liga sit
					amet pulvinar sed viverra
				</p>
				</div>
			</a>
			</div>
		</div>
		</div>
	</div>
</section>

<!-- Project Modals -->
<div class="project-modals">
	<!-- Modal 1 -->
	<div id="modal1" class="modal fade">
		<div class="modal-dialog modal-lg mt-7">
		<div class="modal-content bg-secondary p-5">
			<div class="row">
			<div class="col-md-6">
				<img src="images/project-1.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-md-6">
				<h3>Orkla Foods</h3>
				<p>
				Aliquam at accumsan nibh. Praesent pretium ut tortor ac commodo.
				Integer semper quam at rutrum interdum. Mauris eu diam ac urna
				laoreet mollis et
				</p>
				<p>
				Praesent lacus tortor, facilisis non enim eu, luctus semper velit.
				Curabitur faucibus diam in lectus.
				</p>
				<a href="#" class="btn btn-primary text-white">
				Details
				</a>
				<button class="btn btn-light" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>

		<!-- Modal 2 -->
		<div id="modal2" class="modal fade">
		<div class="modal-dialog modal-lg mt-7">
		<div class="modal-content bg-secondary p-5">
			<div class="row">
			<div class="col-md-6">
				<img src="images/project-2.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-md-6">
				<h3>First Bank</h3>
				<p>
				Aliquam at accumsan nibh. Praesent pretium ut tortor ac commodo.
				Integer semper quam at rutrum interdum. Mauris eu diam ac urna
				laoreet mollis et
				</p>
				<p>
				Praesent lacus tortor, facilisis non enim eu, luctus semper velit.
				Curabitur faucibus diam in lectus.
				</p>
				<a href="#" class="btn btn-primary text-white">
				Details
				</a>
				<button class="btn btn-light" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>

		<!-- Modal 3 -->
		<div id="modal3" class="modal fade">
		<div class="modal-dialog modal-lg mt-7">
		<div class="modal-content bg-secondary p-5">
			<div class="row">
			<div class="col-md-6">
				<img src="images/project-3.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-md-6">
				<h3>All Sweets</h3>
				<p>
				Aliquam at accumsan nibh. Praesent pretium ut tortor ac commodo.
				Integer semper quam at rutrum interdum. Mauris eu diam ac urna
				laoreet mollis et
				</p>
				<p>
				Praesent lacus tortor, facilisis non enim eu, luctus semper velit.
				Curabitur faucibus diam in lectus.
				</p>
				<a href="#" class="btn btn-primary text-white">
				Details
				</a>
				<button class="btn btn-light" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>

		<!-- Modal 4 -->
		<div id="modal4" class="modal fade">
		<div class="modal-dialog modal-lg mt-7">
		<div class="modal-content bg-secondary p-5">
			<div class="row">
			<div class="col-md-6">
				<img src="images/project-4.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-md-6">
				<h3>Fast Courier</h3>
				<p>
				Aliquam at accumsan nibh. Praesent pretium ut tortor ac commodo.
				Integer semper quam at rutrum interdum. Mauris eu diam ac urna
				laoreet mollis et
				</p>
				<p>
				Praesent lacus tortor, facilisis non enim eu, luctus semper velit.
				Curabitur faucibus diam in lectus.
				</p>
				<a href="#" class="btn btn-primary text-white">
				Details
				</a>
				<button class="btn btn-light" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>

		<!-- Modal 5 -->
		<div id="modal5" class="modal fade">
		<div class="modal-dialog modal-lg mt-7">
		<div class="modal-content bg-secondary p-5">
			<div class="row">
			<div class="col-md-6">
				<img src="images/project-5.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-md-6">
				<h3>Lyra Market</h3>
				<p>
				Aliquam at accumsan nibh. Praesent pretium ut tortor ac commodo.
				Integer semper quam at rutrum interdum. Mauris eu diam ac urna
				laoreet mollis et
				</p>
				<p>
				Praesent lacus tortor, facilisis non enim eu, luctus semper velit.
				Curabitur faucibus diam in lectus.
				</p>
				<a href="#" class="btn btn-primary text-white">
				Details
				</a>
				<button class="btn btn-light" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>

		<!-- Modal 6 -->
		<div id="modal6" class="modal fade">
		<div class="modal-dialog modal-lg mt-7">
		<div class="modal-content bg-secondary p-5">
			<div class="row">
			<div class="col-md-6">
				<img src="images/project-6.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-md-6">
				<h3>Monday Stores</h3>
				<p>
				Aliquam at accumsan nibh. Praesent pretium ut tortor ac commodo.
				Integer semper quam at rutrum interdum. Mauris eu diam ac urna
				laoreet mollis et
				</p>
				<p>
				Praesent lacus tortor, facilisis non enim eu, luctus semper velit.
				Curabitur faucibus diam in lectus.
				</p>
				<a href="#" class="btn btn-primary text-white">
				Details
				</a>
				<button class="btn btn-light" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
	</div>
	</div>
