<!-- Newsletter -->
<section id="newsletter" class="newsletter my-6">
	<div class="container">
		<div class="row mb-4">
		<div class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center">
			<h2 class="fw-bold">Subscribe And Follow</h2>
			<p>
			Stay updated with our latest news and announcements. Subscribe to our
		newsletter and follow us on social media for valuable insights and
		exciting updates.
			</p>
		</div>
		</div>
		<div class="row">
		<div class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center">
			<div class="input-group mb-3">
			<input type="email" class="form-control" placeholder="Enter Email Address" />
			<button class="btn btn-primary text-white rounded-0" type="button">
				Submit
			</button>
			</div>
		</div>
		</div>
	</div>
</section>
