 <!-- Details 1 -->
 <section id="details" class="details my-5 position-relative">
	<div class="container">
	  <div class="row pt-5">
		<div class="col-lg-6">
		  <h2 class="fw-bold">Evaluation & Deployment</h2>
		  <hr class="hr-heading" />
		  <p>
			We offer comprehensive evaluation and deployment services to ensure a smooth and successful implementation of our software solutions.
		  </p>
		  <ul class="list-unstyled lh-lg">
			<li class="d-flex align-items-center">
			  <i class="fas fa-check text-primary mx-3"></i>
			  <div>
				<strong>Customized solutions: </strong>We tailor our solutions to align with your unique business needs
			  </div>
			</li>
			<li class="d-flex align-items-center">
			  <i class="fas fa-check text-primary mx-3"></i>
			  <div>
				<strong>Seamless Integration:</strong> Our team ensures smooth integration of the software into your existing infrastructure, minimizing disruptions
			  </div>
			</li>
		  </ul>
		</div>
		<div class="col-lg-6">
		  <img src="../../../assets/images/evaluation-deployment.jpg" alt="" class="img-fluid rounded-2">
		</div>
	  </div>
	</div>
	<img src="../../../assets/images/vertical-decoration-left.svg" alt="" class="vertical-decoration position-absolute d-none d-md-block">
  </section>

  <!-- Details 2 -->
  <section class="details-2 my-5 position-relative">
	<div class="container">
	  <div class="row pt-5">
		<div class="col-lg-6">
		  <img src="../../../assets/images/support.jpg" alt="" class="img-fluid rounded-2">
		</div>
		<div class="col-lg-6">
		  <h2 class="fw-bold">Maintenance & Support</h2>
		  <hr class="hr-heading" />
		  <p>
			We provide comprehensive maintenance and support services to ensure the smooth and uninterrupted operation of your software solutions.  <a href="#">Learn more about our support services.</a>
		  </p>
		  <ul class="list-unstyled lh-lg">
			<li class="d-flex align-items-center">
			  <i class="fas fa-check text-primary mx-3"></i>
			  <div>
				<strong>Proactive Maintenance:</strong> We proactively monitor and maintain your software solutions to prevent issues and optimize performance.
			  </div>
			</li>
			<li class="d-flex align-items-center">
			  <i class="fas fa-check text-primary mx-3"></i>
			  <div>
				<strong>Timely Updates:</strong> We ensure your software is up to date with the latest features, security patches, and enhancements.
			  </div>
			</li>
		  </ul>
		</div>
	  </div>
	</div>
	<img src="../../../assets/images/vertical-decoration-right.svg" alt="" class="vertical-decoration position-absolute d-none d-md-block">
  </section>
