    <!-- Solutions 1-->
<section id="solutions" class="solutions my-5">
	<div class="container">
		<div class="row mb-4">
		<div class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center">
			<h5><span class="badge bg-primary rounded-0 text-uppercase">
			Solutions
			</span></h5>
			<h2 class="fw-bold">
			Deviatov Provides Software Solutions For Business Acceleration
			</h2>
		</div>
		</div>
		<!-- Solutions Row 1 -->
		<div class="row">
		<div class="col-md-6 mb-4">
			<div class="card bg-secondary">
			<img src="../../../assets/images/erp.jpg" alt="" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title fw-bold">ERP Software Solutions</h5>
				<p class="card-text">
				Our ERP software solution streamlines your business processes and
				enhances operational efficiency. With integrated modules for
				finance, human resources, and more, you can make data-driven
				decisions.
				</p>
				<div class="badge bg-primary p-2 text-uppercase">
				Management
				</div>
			</div>
			</div>
		</div>

		<div class="col-md-6 mb-4">
			<div class="card bg-secondary">
			<img src="images/solution-2.jpg" alt="" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title fw-bold">CRM Software Solutions</h5>
				<p class="card-text">
				Our CRM software solution helps you build stronger customer
				relationships and drive sales growth. Manage leads, track
				interactions, and deliver personalized experiences to maximize
				customer satisfaction and loyalty.
				</p>
				<div class="badge bg-dark p-2 text-uppercase">
				Marketing
				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- Solutions 2 -->
	<div class="row">
		<div class="col-md-6 mb-4">
			<div class="card bg-secondary">
			<img src="images/solution-4.jpg" alt="" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title fw-bold">WMS Software Solutions</h5>
				<p class="card-text">
				Our WMS software solution optimizes your warehouse operations and
			improves inventory management. Gain real-time visibility, automate
			processes, and reduce costs to ensure efficient logistics.
				</p>
				<div class="badge bg-dark p-2 text-uppercase">
				Marketing
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>
</section>
